@import "./common/mixins",
"common/variables",
"common/global";

.growtype-carousel-wrapper {
  .alignfull {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    max-width: none;
  }

  &[data-overflow="initial"] {
    .slick-list {
      overflow: initial;
    }
  }

  &.has-arrows {
    .slick-slider {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.alignfull .growtype-carousel-wrapper {
  &.has-arrows {
    .growtype-post-container {
      margin-left: 30px;
      width: calc(100% - 60px);
    }
  }
}

.growtype-carousel.slick-slider {
  opacity: 0;

  &.slick-initialized {
    opacity: 1;
  }
}
